.formControl.error input,
.formControl.error textarea {
  border: solid red 2px;
  border-radius: 4px;
}

.formControl.error span {
  color: red;
}

.formSummaryError {
  border: solid red 2px;
  padding: 5px;
  color: rosybrown;
}