.descBlock{
  padding: 10px;
  
}

.descBlock img {
  width: 200px;
  height: 200px;
}

.contact {
  padding-left: 10px;
}

.formSummaryError {
  border: solid red 2px;
  padding: 5px;
  color: rosybrown;
}